# Xcode
*.xcodeproj
*.xcworkspace
!*.xcworkspace/contents.xcworkspacedata
xcuserdata/
DerivedData/
*.xcuserstate
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/
Packages/*/Package.resolved

# macOS
.DS_Store

# Secrets / local config
*.xcconfig.local
.env
